*{
	text-decoration: none;
}

body{

	margin: 0 auto;
	max-width: 1000px;
}

header{
	
	width: 100%;
	color: #fff;
	overflow: hidden;
	position: relative;
	text-align: center; 

}

header section{

	background: url(../img/banner-head.jpg)no-repeat center center;
	background-size: 100% 105%;
	background-size: cover;
	overflow: hidden;
	height: 500px;

}

header h2, h3, h5{

	text-align: center;
	display: block;
	margin-bottom: 1%;

}

.logo{

	float: left;
	margin: 0;
	padding: 0;
	background-color: #3983b5;
	width: 8rem;

}

.logi{

	width: 4rem;

}

.nav{

	position: fixed;
	background-color: #2b2b2b;
	width: 1000px;
	margin: 0 auto;
	height: 12.8%;

}


li{

	display: inline-block;
	color: #fff;
	margin: 0;
	padding: 0;
	margin-right: 3rem;
	float: left;
	margin-left: 4rem;
	margin-top: 1rem;

}

.ba-head{

	margin: 0 auto;
	display: block;
	margin-top: 4rem;
	width: 15%;

}

.mas{

	text-transform: uppercase;
	font-size: 14px;
	border: 2px solid;
	padding: 0.5rem 3rem;

}

.leave{

	margin-bottom: 1rem;

}

.negrita{

	color: #2b2b2b;

}

.acerca{

	display: inline-block;
	position: relative;
	padding-bottom: 1%;

}

.acerca h2{

	font-size: 0.8rem;
	border-bottom: 1px solid;
	padding-bottom: 1rem;

}


.padding{

	padding: 8% 15% 11% 15%;

}


.izquierda{

	float: left;
	display: block;
	width: 49%;

}


.derecha{

 	float: right;
 	display: block;
	width: 49%;

}


.acerca section p{

	margin: 1% 0 1% 0;
	font-size: 14px;

}

.acerca h3{

	font-size: 1.5rem;
	width: 94%;
	padding-left: 1.2rem;
	padding-top: 2rem;
	display: block;
	float: left;

}

.acerca .comunidad{

	font-size: 17px;
	color: #086A87;
	margin: 8% 0 2% 0;
	padding-top: 2rem;

}

.rojo{

	color: #DF0101;

}

.prev{

	display: inline-block;
	padding-top: 2%;
}

.prev h2{

	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	margin-bottom: 4%;
	padding: 1% 0;
}

article.info-evento{

	background-color: rgba(0,0,0,0.05);
	margin-bottom: 1.5rem;
	overflow: hidden;
	padding-bottom: 2%;

}

article.info-evento img{

	float: left;
	margin: 5%;
	width: 24%;

}

article.info-evento p{

	font-size: 13px;
	width: 64%;
	float: right;
	font-weight: bold;
	line-height: 19px;
	margin: 2% 2% 2% 0;
}

.bocado{

	background-color: #FF8000;
	display: inline-block;
	width: 24%;
	margin: 4% 1% 1% 2% ;
	padding: 3%;
	float: left;
}

.bocado blockquote{

	color: #fff;
	font-size: 13px;
	line-height: 18px;
	width: 10rem;
	margin: 0;
	
}

.bocado  i {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    float: left;
    border: 1em solid transparent;
	border-left: 1em solid #FF8000;
	border-top: 1em solid #FF8000;
	left: 13%;
	bottom: -48px;
}

.participantes{

	background-color: rgba(0,0,0,0.05);
	text-align: center;

}

.participantes h3{

	color: #4A1616;

}

.participantes p{

	color: #450000;
	font-size: 12px;
	margin-top: 7%;
}

.case{

	text-transform: uppercase;
	font-size: 14px;
}

.backgroud-fotos{
	
	background: url(../img/dccr-fun.png) no-repeat center;
	background-size: 57%;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	color: #fff;
}

.backgroud{

	background-color:rgba(12,17,30,0.9);
	padding: 23% 10%;
}

.backgroud h2{
	margin-bottom: 2%;
	font-size: 23px;
}

.backgroud p{
	font-size: 11px;
}

.registro{
	
	overflow: hidden;
	margin-top: 3rem;
}

.registro h3{
	text-align: center;
	display: block;
}

.registro h4{

	font-size: 13px;
	color: #01A9DB;
	display: block;
	margin: 1% 0;
	text-align: center;
}

.registro a{

	display: inline-block;
	padding: 2% 8%;
	border: 2px solid #2ECCFA;
	border-radius: 3px;
	margin-left: 14rem;
	margin-top: 2rem;

}

footer{
	background-color: #2E2E2E;
	color: #fff;
	text-align: center;
	position: relative;
}

footer h2{

	background: url(../img/separator.png)no-repeat center;
	background-size: 100% 100%;
	text-indent: -9999px;
	display: inline-block;
	padding: 3.4% 0%;
	margin-top: 3rem;

}

footer nav {

	padding-top: 3rem;
	padding-bottom: 5rem;

}


footer nav a{

	color: #fff;
	margin: 2%;
	font-size: 13px;
	border-bottom: 1px solid;
	padding: 1% 1%;
	letter-spacing: 0px;
	font-weight: bold;

}

.registro h2{

	font-size: 0.8rem;
	border-bottom: 1px solid;
	padding-bottom: 1rem;

}